body {
   margin: 0;
}

#searchBoxStudent {
    height: 50px;
    width: 50vw;
    background-color: beige;
    margin-top: 10px;
}

#searchStudent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchResult {
    height: 100vh;
    width: 50vw;
    background-color: beige;
    margin-top: 40px;
    text-align: center;
}